* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(3, 32, 63);
  border-radius: 10px;
}
.flex-c {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  margin-left: 400px;
  margin-top: 100px;
  margin-bottom: 150px;
}
.div-1 {
  display: flex;
}
.img-1 {
  margin-top: 50px;
  margin-left: 30px;
  padding: 20px;
  background-color: rgb(4, 46, 81);
  width: 300px;
  height: 520px;
}

.navebar {
  color: aliceblue;
  font-weight: bolder;
  background-color: rgb(4, 46, 81);
  font-family: "outfit";
  padding-top: 10px;
}
.p-tag-1 {
  background-color: rgb(4, 46, 81);
  color: rgb(62, 94, 123);
  font-family: "outfit";
}
h6 {
  background-color: rgb(4, 46, 81);
  color: rgb(19, 181, 181);
  font-family: "outfit";
  display: flex;
  justify-content: space-between;
}
.lin {
  color: rgb(24, 70, 105);
  background-color: rgb(4, 46, 81);
}
.days {
  background-color: rgb(4, 46, 81);
  display: flex;
}
.p-tag-3 {
  color: rgb(62, 94, 123);
  background-color: rgb(4, 46, 81);
  font-size: 15px;
}
.eth {
  display: flex;
  padding-left: 10x;
  font-family: "outfit";
}
.p-tag-4 {
  margin-right: 120px;
  background-color: rgb(4, 46, 81);
  font-size: 15px;
}
.log-1 {
  margin-left: -10px;

  background-color: rgb(4, 46, 81);
  display: flex;
  justify-content: space-evenly;
}
.p-tag-2 {
  font-size: 18px;
  background-color: rgb(4, 46, 81);
  color: rgba(140, 197, 248, 0.797);
  padding-top: 15px;
  padding-right: 55px;
}
.stro {
  color: white;
  font-weight: lighter;
  background-color: rgb(4, 46, 81);
}
